# CONFIGURACIÓN DEL ENTORNO LOCAL - CONSULTORA ODONTOLOGÍA

# URL de conexión a la Base de Datos (PostgreSQL + Asyncpg)
DATABASE_URL=postgresql+asyncpg://tu_usuario:tu_contraseña@tu_host:6543/postgres

# Parámetros de Autenticación con Supabase
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_KEY=tu_clave_secreta_o_anon_aquí
